{{define "page-nav"}}{{end}}

{{define "content"}}
<div id='container'>
  <table id='data'>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="current">Current</th>
        <th class="date">Date</th>
        <th class="best">Best</th>
      </tr>
    </thead>
    <tbody>
      {{range $f := .Forecasts}}
      <tr>
        <td class="name"><a href="/{{$f.Slug}}/{{if $.Historical}}historical{{else}}baseline{{end}}" title="{{$f.ClimbDirection}}">{{$f.Climb.Name}}</a></td>
        <td class="current color{{$f.Current.Rank $.Historical}}" title="{{$f.Current.Wind}}">{{$f.Current.Score $.Historical}}</td>
				<td class="date" title="{{($f.Forecast.Best $.Historical).FullTime}}"><a href="/{{($f.Forecast.Best $.Historical).DayTimeSlug}}/{{if $.Historical}}historical{{else}}baseline{{end}}">{{($f.Forecast.Best $.Historical).DayTime}}</a></td>
        <td class="best color{{($f.Forecast.Best $.Historical).Rank $.Historical}}" title="{{($f.Forecast.Best $.Historical).Wind}}">{{($f.Forecast.Best $.Historical).Score $.Historical}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <div id="attribution"><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></div>
</div>
{{end}}

{{define "scripts"}}{{end}}
