{{define "page-nav"}}
<nav id="page-nav">
  <h2 class="climb">
    <a href="https://www.strava.com/segments/{{.Climb.Segment.ID}}"
       title="{{.ClimbDirection}}">{{.Climb.Name}}</a></h2>
</nav>
{{end}}

{{define "content"}}
<div id='container'>
  <table id='data' class="climb">
    <thead>
      <tr class="longdays">
        <th></th>
        {{range $d := .Days}}
        <th class="weekday">{{$d}}</th>
        {{end}}
      </tr>
      <tr class="shortdays">
        <th></th>
        {{range $d := .ShortDays}}
        <th class="weekday">{{$d}}</th>
        {{end}}
      </tr>
    </thead>
    <tbody>
      {{range $r := .Rows}}
      <tr>
        <td class="hour" title="{{$r.TimeTitle $.Historical}}">{{if lt (len $r.Time) 4}}&nbsp;&nbsp;{{end}}{{$r.Time}}</td>
        {{range $c := $r.Conditions}}
          {{if $c}}
            <td class="cell color{{$c.Rank $.Historical}}"
                title="{{$c.Weather}}">
              {{$c.Score $.Historical}}
            </td>
          {{else}}
            <td class="cell absent"></td> <!-- TODO color? -->
          {{end}}
        {{end}}
      </tr>
      {{end}}
    </tbody>
  </table>
  <div id="attribution"><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></div>
</div>
{{end}}
