{{define "page-nav"}}
<nav id="page-nav">
  <h2 title="{{.TimeTitle .Historical}}">{{.DayTime}}</h2>
</nav>
{{end}}

{{define "content"}}
<div id='container'>
  <table id='data' class="time">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="score">Score</th>
      </tr>
    </thead>
    <tbody>
      {{range $c := .Conditions}}
      <tr>
        <td class="name">
          <a href="/{{$c.Slug}}/{{if $.Historical}}historical{{else}}baseline{{end}}"
             title="{{$c.ClimbDirection}}">{{$c.Climb.Name}}</a>
          <!-- TODO include historical weather in title attr if .Historical -->
        </td>
        <td class="score color{{$c.Conditions.Rank $.Historical}}"
            title="{{$c.Conditions.Weather}}">
          {{$c.Conditions.Score $.Historical}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <div id="attribution"><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></div>
</div>
{{end}}
